@model InformacoesIndicadoModel

@{
    var SessionModel = Session.GetModel<SessionModel>();
}

<div class="page-header">
    <div class="row" id="indicated-detail">
        @if (!String.IsNullOrEmpty(Model.Indicado.FotoArquivoNome))
        {
            <div class="col-md-1">
                <div class="photo-profile">

                    <img src="@(Url.Content(ConfiguracaoAppUtil.Get(enumConfiguracaoLib.indicadoFotoUrl)) + Model.Indicado.FotoArquivoNome)" alt="profile-img" width="100%">

                </div>
            </div>
        }
        <div class="col-md-3 detail-name" id="colum-detail">
            <h2>@Model.Indicado.Nome</h2>
            <div><i class="navbar-icon fa fa-calendar"></i> @string.Format("{0:dd/MM/yyyy}", Model.Indicado.DataNascimento)</div>
            <div><i class="navbar-icon fa fa-envelope"></i> @Model.Indicado.Email</div>
            <div class=""><i class="navbar-icon fa fa-map-marker"></i> @Model.Indicado.Cidade.Nome - @Model.Indicado.Estado.UF</div>
        </div>
        <div class="col-md-2 info">
            <h4>Estatísticas</h4>
            <div class="line">
                <strong class="str">@Model.TotalIndicacoes</strong>
                @if (Model.TotalIndicacoes > 1 || Model.TotalIndicacoes == 0)
                {
                    <text> Indicações</text>
                }
                else
                {
                    <text> Indicação</text>
                }
            </div>
            <div class="line">
                <strong class="str">@Model.Aprovadas</strong>
                @if (Model.Aprovadas > 1 || Model.Aprovadas == 0)
                {
                    <text> Histórias Aprovadas</text>
                }
                else
                {
                    <text> História Aprovada</text>
                }
            </div>
            <div class="line">
                <strong class="str">@Model.Recusadas</strong>
                @if (Model.Recusadas > 1 || Model.Recusadas == 0)
                {
                    <text> Histórias Recusadas</text>
                }
                else
                {
                    <text> História Recusada</text>
                }
            </div>
            <div class="line">
                <strong class="str">@Model.Moderadas</strong>
                @if (Model.Moderadas > 1 || Model.Moderadas == 0)
                {
                    <text> Histórias Moderadas</text>
                }
                else
                {
                    <text> História Moderada</text>
                }
            </div>
        </div>
        <div class="col-md-2 info">
            <h4>Qualidades</h4>
            <div id="qualidades">
                @foreach (var item in Model.Qualidades)
                {
                    <span class="label label-primary" style="background-color: @item.CorLabel; color: @item.CorFont;">@item.Nome</span>
                }

            </div>
        </div>
        <div class="col-md-3 info">
            <h4>Informações Adicionais</h4>
            <div class="line"><i class="navbar-icon fa fa-user" style="width:20px;"></i>Cadastrado em @Model.Indicado.DataCadastro.ToString("dd/MM/yyyy HH:mm")</div>
            <div class="line">
                <i class="navbar-icon fa fa-edit" style="width:20px;"></i><span>Modificado em @Model.Indicado.DataCadastro.ToString("dd/MM/yyyy HH:mm")</span>
                @if ((UsuarioService.TemPermissao(SessionModel.Usuario, enumPerfilNome.master)) && (Model.Indicado.Usuario != null))
                {
                    <span> por @Model.Indicado.Usuario.Nome (@Model.Indicado.Usuario.Login)</span>
                }
                <span> durante a @Model.Indicado.AlteracaoOrigem.Description()</span>
            </div>
            <div class="line">
                <i class="navbar-icon fa fa-fire" style="width:20px;"></i>
                <span>
                    Candidato a participar em 
                    @if ((UsuarioService.TemPermissao(SessionModel.Usuario, enumPerfilNome.master, enumPerfilNome.decisorConsolidado, enumPerfilNome.decisorPublico)) && (Model.Indicado.Usuario != null))
                    {
                        <select class="input-sm" id="cidades-participantes">
                            <option value="@Model.Indicado.CidadeParticipante.ID">@Model.Indicado.CidadeParticipante.Cidade.Estado.UF - @Model.Indicado.CidadeParticipante.Cidade.Nome</option>
                            @foreach (var item in Model.CidadesParticipantes)
                            {
                                if (item.ID != Model.Indicado.CidadeParticipanteID)
                                {
                                    <option value="@item.ID">@item.Cidade.Estado.UF - @item.Cidade.Nome</option>
                                }
                            }
                        </select>
                    }
                    else
                    {
                        <text>@Model.Indicado.CidadeParticipante.Cidade.Nome (@Model.Indicado.CidadeParticipante.Cidade.Estado.UF)</text>
                    }
                </span>
            </div>
        </div>
        <div class="col-md-1 pull-right"></div>

    </div>
</div>
<script>
    $('#cidades-participantes').on("change", function () {
        var url = "@Url.Action("MudarCidadeParticipante", "Indicado")?indicadoid=" + $('#indicadoid').val() + "&cidadeParticipanteid=" + $(this).val();
        $.getJSON(url, function (data) {
            if (!data.Sucesso) {
                bootbox.alert({
                    message: data.Mensagem,
                    className: "bootbox-sm"
                });
            } else {
                $.growl.notice({ title: "OK!",message: "Candidato realocado com sucesso!" });
            }
        });
    });
</script>