@model SorteioViewModel

@{
    ViewBag.Title = "Flash Cards";
    var subtitulo = "Sortear";

}

<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-edit page-header-icon"></i>&nbsp;&nbsp;@ViewBag.Title</h1>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <div class="pull-right col-xs-12 col-sm-auto"><a href="@Url.Action("Index", "FlashCard")" class="btn btn-labeled btn-flat" style="width: 100%;"><span class="btn btn-label icon fa fa-angle-left"></span>Voltar</a></div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("ListarParaEstudo", "FlashCard", FormMethod.Post, new { @name = "frmCadastro", id = "frmCadastro", autocomplete = "off" }))
{


    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">@subtitulo</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.ListBox("MateriasIDs", Model.MateriasAsSelectList, new { @class = "form-control select" })
                </div>

                <div class="form-group col-md-3">
                    <label>Somente favorita?</label>
                    @Html.CheckBoxFor(t => t.Favoritas, new { @class = "switcher-example-default" })
                </div>


                <div class="form-group col-md-3">
                    <div class="pull-right">
                        <button type="button" class="btn-success btn btn-flat btn-labeled iniciar"><span class="btn-label icon fa fa-play"></span>Iniciar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>

    init.push(function () {
        $(".iniciar").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ListarParaEstudo", "FlashCard")",
                data: $("#frmCadastro").serialize(),
                success: function (data) {
                    
                }
            });
        });
        $(".select").select2();
    });
</script>
<!-- / Javascript -->
