@model HistoriaVizualizaModel
@{
    var SessionModel = Session.GetModel<SessionModel>();
}
<div class="panel-body">

    <div class="col-md-8">
        <h4 class="questions">
            <i class="fa fa-comment-o" style="width:20px;"></i> História
        </h4> 

        <div class="form-group">
            <label class="control-label" for="inputWarning-4">Título</label>
            <p>@Model.Historia.Titulo</p>
        </div> <!-- / .form-group -->

        <div class="form-group">
            <label class="control-label" for="inputWarning-4">Categoria Principal</label>
            <p>@Model.Historia.HistoriaCategoria.Nome</p>
        </div> <!-- / .form-group -->

        <div class="form-group">
            <label class="control-label" for="inputWarning-4">Indicador</label>
            <p>
                @Html.Raw((string.IsNullOrEmpty(Model.Historia.IndicadorFacebookID)) ? "" : "<i class=\"fa fa-facebook-square\"></i> ")@Model.Historia.IndicadorNome (@Model.Historia.IndicadorEmail)
                @if (!String.IsNullOrEmpty(Model.Historia.IndicadorFotoArquivoNome))
                {
                    <span>&nbsp; <img src="/Arquivos/IndicadorFoto/2519d0c2-e7bd-4024-9aae-8b1d2ee5db51.jpg" alt="profile-img" style="height: 25px; width: auto;"></span>
                }
            </p>
        </div> <!-- / .form-group -->

        <div class="form-group">
            <label class="control-label" for="inputWarning-4">Texto</label>
            <p>
                @Html.Raw(Model.Historia.Texto.Replace(Environment.NewLine, "<br />"))
            </p>
        </div>
        @if (!string.IsNullOrEmpty(Model.Historia.ComentarioIndicado))
        {
            <div class="form-group">
                <label class="control-label" for="inputWarning-4">Comentário do Indicado</label>
                <p>
                    @Html.Raw(Model.Historia.ComentarioIndicado.Replace(Environment.NewLine, "<br />"))
                </p>
            </div>
        }
        <div class="form-group">
            <label class="control-label">Nota</label>
            <p>
                @if (Model.Historia.Nota == null)
                {
                    <text>0,00</text>
                }
                else
                {
                    @Model.Historia.Nota
                }

            </p>
        </div>
        @if ((UsuarioService.TemPermissao(SessionModel.Usuario, enumPerfilNome.master)))
        {
            <h4 class="questions"><i class="fa fa-info"></i> Informações Adicionais</h4>
            <div class="form-group">
                <label class="control-label" for="inputWarning-4">Status do Indicado</label>
                <p>
                    @Model.Historia.IndicadoAprovacao.Description()
                </p>
            </div>

            

            <div class="form-group">
                <label class="control-label" for="inputWarning-4">Status da Triagem</label>
                <p>
                    @Model.Historia.TriagemAprovacao.Description()
                </p>
            </div>

            <div class="form-group">
                <label class="control-label" for="inputWarning-4">Status da Moderação</label>
                @if ((Model.Historia.IndicadoAprovacao == enumAprovacao.aprovado) || (Model.Historia.IndicadoAprovacao == enumAprovacao.aprovadoComRessalva))
                {
                    if (Model.Historia.ModeracaoEncerrada)
                    {
                        <p>Encerrada</p>
                    }
                    else
                    {
                        <p>Em Andamento</p>
                    }
                }
                else
                {
                    <p>Não Iniciada</p>
                }
            </div>
            <a class="btn btn-info btn-flat" target="_blank" href="@Url.Action("Visualizar", "Historia", new { id = Model.Historia.ID })">Mais Informações</a>
        }
        

        @if (!string.IsNullOrEmpty(Model.Historia.ComentarioTriagem))
        {
            <div class="form-group">
                <label class="control-label" for="inputWarning-4">Comentário da Triagem</label>
                <p>
                    @Html.Raw(Model.Historia.ComentarioTriagem.Replace(Environment.NewLine, "<br />"))
                </p>
            </div>
        }
    </div>

    <div class="col-md-4">

        @for (int i = 0; i < Model.Midias.Count; i++)
        {
            <div class="form-group midias">
                @if (Model.Midias[i].ArquivoTipoDB == "I")
                {
                    <img class="photo" src="@Url.Content(ConfiguracaoAppUtil.Get(enumConfiguracaoLib.historiaMidiaUrl))@Model.Midias[i].ArquivoNome">
                }
                else
                {
                    <label class="control-label video" for=@("imagem-" + Model.Midias[i].ID)>
                        <video controls>
                            <source src="@(Url.Content(ConfiguracaoAppUtil.Get(enumConfiguracaoLib.historiaMidiaUrl)) + Model.Midias[i].ArquivoNome + ".ogv")" type="video/ogv">
                            <source src="@(Url.Content(ConfiguracaoAppUtil.Get(enumConfiguracaoLib.historiaMidiaUrl)) + Model.Midias[i].ArquivoNome + ".mp4")" type="video/mp4">
                            <source src="@(Url.Content(ConfiguracaoAppUtil.Get(enumConfiguracaoLib.historiaMidiaUrl)) + Model.Midias[i].ArquivoNome + ".webm")" type="video/webm">
                        </video>
                    </label>
                }
            </div> <!-- / .form-group -->
        }


    </div>
</div>