<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
@{
    var SessionModel = Session.GetModel<SessionModel>();
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="sname" content="@Environment.MachineName">
    <style>
        .select2-hidden-accessible {
            display: none;
        }
    </style>
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon.ico">

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)

    <!--[if !IE]> -->
    @Scripts.Render("~/bundles/library.not.ie")
    <!-- <![endif]-->
    <!--[if lte IE 9]>
    @Scripts.Render("~/bundles/library.only.ie")
    <![endif]-->
</head>

<!-- 1. $BODY ====================================================================================== -->
<body class="theme-asphalt main-menu-animated main-navbar-fixed main-menu-fixed no-main-menu">
    <div class="btns-selection active">
        <div class="twitter-select">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox"></div>

        </div>
        <a href="#" class="comment-select">
        </a>
    </div>
    <script>
        var init = [];
    </script>
    @Html.Partial("_Mensagem")

    <div id="main-wrapper">

        <!-- 2. $MAIN_NAVIGATION =========================================================================== -->
        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

            <div class="navbar-inner">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
                </div>
                <!-- / .navbar-header -->

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <div>
                        <ul class="nav navbar-nav">
                            @if (Session.GetModel<SessionModel>().Usuario.Perfil.Nome == enumPerfilNome.master)
                            {
                                <li><a href="@Url.Action("Index", "Materia")"><i class="menu-icon fa fa-book"></i> <span class="mm-text">&nbsp;&nbsp;Matérias</span></a></li>
                            }
                            <li><a href="@Url.Action("Index", "FlashCard")"><i class="menu-icon fa fa-edit"></i> <span class="mm-text">&nbsp;&nbsp;Flash Cards</span></a></li>

                        </ul>
                        <!-- / .navbar-nav -->
                        <div class="right clearfix">
                            <ul class="nav navbar-nav pull-right right-navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                        <span>@(Session.GetModel<SessionModel>().Usuario.Nome)</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("AlterarSenha", "Conta")"><i class="dropdown-icon fa fa-key"></i>&nbsp;&nbsp;Alterar Senha</a></li>
                                            <li class="divider"></li>
                                        <li><a href="@Url.Action("Sair", "Conta")"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- / .navbar-nav -->
                        </div>
                        <!-- / .right -->
                    </div>
                </div>
                <!-- / #main-navbar-collapse -->
            </div>
            <!-- / .navbar-inner -->
        </div>
        <!-- / #main-navbar -->

        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <div class="menu-content top animated fadeIn">
                    <div>
                        <div class="text-bg"><span class="text-semibold"></span></div>
                    </div>
                </div>
                <ul class="navigation"></ul>

                <!-- / .navigation -->
            </div>
            <!-- / #main-menu-inner -->
        </div>
        <!-- / #main-menu -->
        <!-- /4. $MAIN_MENU -->

        <div id="content-wrapper">
            @RenderBody()
        </div>
        <!-- / #content-wrapper -->
        <div id="main-menu-bg"></div>
    </div>

    <!-- Large modal -->
    <div id="modal-view" class="modal fade modal-blur" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <a href="#" target="_blank" class="btn btn-labeled btn-primary btn-sm" id="modal-view-link"><span class="btn-label icon fa fa-link"></span>Abrir em nova página</a>
                    <a href="#" target="_blank" class="btn btn-labeled btn-info btn-sm" id="modal-view-copy"><span class="btn-label icon fa fa-copy"></span>Copiar URL</a>
                    <h4 class="modal-title">Vizualização</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 width-zoom">
                            <div class="frame frame-desktop">
                                <iframe src="about:blank" name="desktop"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-4 width-zoom">
                            <div class="frame frame-mobile">
                                <iframe src="about:blank" name="mobile"></iframe>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8 width-zoom">
                            <div class="frame frame-tablet">
                                <iframe src="about:blank" name="tablet"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div> <!-- / .modal -->
    <!-- / Large modal -->
    <!-- / #main-wrapper -->
    @Scripts.Render("~/bundles/scripts")

    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
            if ($("#jq-datatable_wrapper").length) {
                if ($("#jq-datatable-caption").length) {
                    $('#jq-datatable_wrapper .table-caption').text($("#jq-datatable-caption").text());
                }

                if ($("#jq-datatable-search").length) {
                    $('#jq-datatable_wrapper .DT-search:last').after($("#jq-datatable-search").children());
                }

                $('#jq-datatable_wrapper .dataTables_filter input').attr('placeholder', 'Busca...');
            }
        });
        window.PixelAdmin.start(init);

    </script>
</body>
</html>